/*
--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
medium:500
bold: N/A

- Line heights:
Default: 1
small: 1.05
medium: 1.15, 1.2
paragraph default: 1.5
Large: 1.8

- Letter spacing:
-0.5px
0.5px
0.75px
3.5px;

--- 02 COLORS

MAIN COLOR: hsl(231, 69%, 60%)
TINTS: 
SHADES: hsl(229, 31%, 21%)
ACCENTS: Soft Red: hsl(0, 94%, 66%)
GREY COLOR: hsl(229, 8%, 60%), #333, #d3d4d9,  #f4f4f6, #e9eaec

-- 05 SHADOWS
 box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);

-- 06 BORDER-RADIUS
Default: 5px;
large: 16px;

-- 07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / default(16px) */
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: hsl(229, 8%, 60%);
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.grid {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 6.4rem;
}
.grid-col--1 {
  grid-template-columns: 1fr;
}

.grid-col--2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}

.heading-secondary {
  color: hsl(229, 31%, 21%);
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 1.05;
  text-align: center;
}

.section-description {
  padding: 0 40rem;
  text-align: center;
}

.btn {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s;
}

/******************************/
/* HEADER */
/******************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem 0;
}

.footer-logo-img,
.logo-img {
  height: 2.5rem;
  width: 14.8rem;
  cursor: pointer;
}

/******************************/
/* NAVIGATION */
/******************************/

.header-nav-list,
.footer-nav-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  align-items: center;
  font-weight: 500;
}

.header-list-item:link,
.header-list-item:visited,
.footer-list-item:link,
.footer-list-item:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  transition: all 0.3s;
}

.header-list-item:link,
.header-list-item:visited {
  color: #333;
}

.header-list-item:hover,
.header-list-item:active {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.header-list-item.login:link,
.header-list-item.login:visited {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #fff;
  padding: 1.2rem 3.2rem;
  background-color: hsl(0, 94%, 66%);
  transition: all 0.3s;
}

.header-list-item.login:hover,
.header-list-item.login:active {
  display: inline-block;
  border: 2px solid hsl(0, 94%, 66%);
  border-radius: 5px;
  color: hsl(0, 94%, 66%);
  background-color: #fff;
}

/******************************/
/* HERO SECTION */
/******************************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  align-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.heading-primary {
  color: hsl(229, 31%, 21%);
  letter-spacing: -0.5px;
  font-weight: 500;
  line-height: 1.05;
}

.hero-description,
.section-description,
.pane-description {
  line-height: 1.5;
}

.btn-box {
  display: flex;
  gap: 1.6rem;
}

.btn-full-blue:link,
.btn-full-blue:visited {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
}

.btn-full-gray:link,
.btn-full-gray:visited {
  background-color: #f4f4f6;
  color: #333;
}

.btn-full-blue:active,
.btn-full-blue:hover {
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}

.btn-full-gray:hover,
.btn-full-gray:active {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}

.hero-img {
  width: 100%;
}

.hero-img-box {
  position: relative;
  transform: translateX(20%);
}

.hero-img-box::after {
  content: "";
  display: block;
  background-color: hsl(231, 69%, 60%);
  width: 150%;
  padding-bottom: 52%;
  border-radius: 200px;
  position: absolute;
  top: 28%;
  right: -83%;
  z-index: -999;
}

/******************************/
/* FEATURES SECTION */
/******************************/
.section-features {
  padding: 9.6rem 0;
}

.container figure {
  row-gap: 2.4rem;
}

blockquote {
  margin: 0;
}

.carousel {
  align-items: center;
}

.nav-panes {
  justify-self: center;
}

.pane {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  color: hsl(229, 8%, 60%);
  padding: 2.4rem 4.8rem;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -4px 4px -4px #d3d4d9;
  margin-right: -5px;
  transition: all 0.3s;
  cursor: pointer;
}

.pane:hover {
  color: hsl(0, 94%, 66%);
}

.pane--fill {
  color: hsl(229, 31%, 21%);
  font-weight: 500;
  box-shadow: inset 0 -6px 2px -2px hsl(0, 94%, 66%);
}

.pane.pane--fill:hover {
  color: hsl(229, 31%, 21%);
}

.pane-img {
  width: 80%;
}

.tab-1 {
  width: 90%;
}

.carousel-panes {
  position: relative;
  margin-bottom: 39rem;
}

.carousel-track {
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.2s ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-track-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
  justify-content: center;
}

.btn-more-info:link,
.btn-more-info:visited {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
}

.btn-more-info:active,
.btn-more-info:hover {
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}

.pane-img-box {
  position: relative;
}

.pane-img-box::before {
  content: "";
  display: block;
  background-color: hsl(231, 69%, 60%);
  width: 150%;
  padding-bottom: 59%;
  border-radius: 200px;
  position: absolute;
  top: 19%;
  right: 32%;
  z-index: -999;
}

/******************************/
/* CTA SECTION */
/******************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  justify-items: center;
  align-items: center;
  column-gap: 4.8rem;
}

.cta-card-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  justify-items: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
}

.cta-card-info.firefox {
  transform: translateY(10%);
}

.cta-card-info.opera {
  transform: translateY(20%);
}

.cta-card-details {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.2rem;
  text-align: center;
  padding: 1.6rem 3.2rem 0;
}

.cta-img {
  display: grid;
  justify-items: center;
}

.cta-svg {
  width: 8rem;
  margin-bottom: 1.6rem;
}

.cta-card-heading {
  color: hsl(229, 31%, 21%);
  font-weight: 500;
}

.cta-card-sub-heading {
  font-size: 1.4rem;
  font-weight: 400;
}

.dotted-img {
  padding-top: 1.6rem;
}

.cta-btn-container {
  padding: 0 3.2rem 3.2rem;
}

.cta-card-btn {
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: inherit;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  transition: all 0.3s;
}

.cta-card-btn:hover {
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}

/******************************/
/* FAQ SECTION */
/******************************/
.section-faq {
  padding: 9.6rem 0;
}

.accordion {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  row-gap: 0;
}

.item {
  border-bottom: 2px solid #e9eaec;
  padding: 1.6rem;

  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;
}

.item:first-child {
  border-top: 2px solid #e9eaec;
}

.accordion-icon {
  cursor: pointer;
}

.icon-down {
  width: 2.4rem;
  height: 2.4rem;
  color: hsl(231, 69%, 60%);
}

.icon-up {
  width: 2.4rem;
  height: 2.4rem;
  color: hsl(0, 94%, 66%);
}

.text {
  color: hsl(229, 31%, 21%);
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 1.05;
  cursor: pointer;
  transition: all 0.3s;
}

.text:hover {
  color: hsl(0, 94%, 66%);
}

.hidden-box {
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.section-faq .btn {
  justify-self: center;
}

/* OPEN STATE */

.open .hidden-box {
  display: block;
}

/******************************/
/* CONTACT SECTION */
/******************************/

.section-contact {
  display: grid;
  grid-template-columns: 1fr;
  background-color: hsl(231, 69%, 60%);
  align-items: center;
  justify-items: center;
  padding: 4.8rem;
  row-gap: 2.4rem;
}

.sub-heading {
  color: #fff;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.section-contact .heading-secondary {
  max-width: 40rem;
  color: #fff;
}

.section-contact form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 3.2rem;
}

.section-contact form input,
.section-contact .btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  border: none;
  font-family: inherit;
}

.section-contact .btn-form {
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  font-weight: 500;
  border: 2px inset transparent;
  transition: all 0.3s;
}

.section-contact .btn-form:hover {
  background-color: #fff;
  color: hsl(0, 94%, 66%);
  border: 2px inset hsl(0, 94%, 66%);
}

.section-contact *:focus {
  outline: none;
  box-shadow: 0 0 0 2px hsl(0, 94%, 66%);
}

/******************************/
/* FOOTER SECTION */
/******************************/

.footer {
  padding: 3.2rem;
  background-color: #191f43;
}

.container.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.footer-logo-img {
}

.footer-list-item:link,
.footer-list-item:visited {
  font-size: 1.4rem;
  color: #fff;
}

.footer-list-item:hover,
.footer-list-item:active {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

footer .social-media {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.social-link:link,
.social-link:visited {
  filter: grayscale(0);
  transition: all 3s;
}

.social-link:hover,
.social-link:active {
  filter: invert(48%) sepia(19%) saturate(6680%) hue-rotate(329deg)
    brightness(101%) contrast(95%);
}
